DATABASE_URL="postgresql://postgres:postgres@localhost:5432/check_monitoring"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5432/check_monitoring_test"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
